@using Coldairarrow.Entity.Mantenimiento;
@using Coldairarrow.Util;
@using Coldairarrow.Business.Mantenimiento;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";

    var obj = (Wtf_Herramientas)Model;
    var objStr = Html.Raw(obj.ToJson());
}

<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Serial</label>
            <div class="col-sm-5">
                <input name="Serial" value="@obj.Serial" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-5">
                <input name="Descripcion" value="@obj.Descripcion" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Group</label>
            <div class="col-sm-5">
                <select id="tipoHList" class="selectpicker form-control" name="tipoHList" data-style="btn-default btn-sm" required title="Select one"></select>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <!--
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label">Clase H.</label>
        <div class="col-sm-5">
            <select id="claseHList" class="selectpicker form-control" name="claseHList" data-style="btn-default btn-sm" required title="Seleccione una clase"></select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    -->
        <!--
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label">Ubicacion</label>
        <div class="col-sm-5">
            <select id="plantHList" class="selectpicker form-control" name="plantHList" data-style="btn-default btn-sm" required title="Seleccione una base"></select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    -->
        <!--
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label">Estado</label>
        <div class="col-sm-5">
            <select id="Estado" name="Estado" class="selectpicker form-control" data-style="btn-default btn-sm">
                <option value="0">Inactivo</option>
                <option value="1">Activo</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    -->
        <!--
    <div class="form-group form-group-sm" id="container" style="position:relative">
        <label class="col-sm-2 control-label">Adquisicion</label>
        <div class="col-sm-5" style="position:relative">
            <input id="FechaAdquisicion" name="FechaAdquisicion" type="text" value="@(obj.FechaAdquisicion?.ToString("yyyy-MM-dd"))" data-date-format="yyyy-mm-dd" class="form-control">
        </div>
    </div>
    -->
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-5">
                <select id="Estado" name="Estado" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    var theEntity = @objStr;
    var typeId = @obj.IdTipoHerramienta;
    //var classId = @obj.IdClaseHerramienta;
    //var baseId = @obj.IdUbicacion;

    $(function () {
        initEvent();
    });

    //事件绑定
    function initEvent() {
        
        $('#Estado').selectpicker({
            value: theEntity.Estado
        });
        /*
        $('#FechaAdquisicion').datetimepicker({
            language: 'es',
            minView: 2//日期选择
        });
        */
        $('#tipoHList').selectpicker({
            url: '/Mantenimiento/Wtf_TipoHerramienta/GetDataList_NoPagin',
            value: typeId,
            valueField: 'Id',
            textField: 'Descripcion',
            pleaseSelect: false
        });
        $('#tipoHList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (typeId > 0) {
                $(this).selectpicker('val', typeId);
            }
        });

        /*
        $('#claseHList').selectpicker({
            url: '/Mantenimiento/Wtf_ClaseHerramienta/GetDataList_NoPagin',
            value: classId,
            valueField: 'Id',
            textField: 'Nombre',
            pleaseSelect: false
        });
        $('#claseHList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (classId > 0) {
                $(this).selectpicker('val', classId);
            }
        });

        $('#plantHList').selectpicker({
            url: '/Mantenimiento/Wtf_Ubicaciones/GetDataList_NoPagin',
            value: baseId,
            valueField: 'Id',
            textField: 'Nombre',
            pleaseSelect: false
        });
        $('#plantHList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (baseId > 0) {
                $(this).selectpicker('val', baseId);
            }
        });
        */

        //表单校验
        $('#form').validator().on('submit', function (e) {
            //校验成功
            if (!e.isDefaultPrevented()) {
                e.preventDefault();

                var values = $('#form').getValues();
                $.extend(theEntity, values);

                theEntity['IdTipoHerramienta'] = $('#tipoHList').val();
                //theEntity['IdClaseHerramienta'] = $('#claseHList').val();
                //theEntity['IdUbicacion'] = $('#plantHList').val();
                theEntity['IdClaseHerramienta'] = 1;
                theEntity['IdUbicacion'] = 1;
                theEntity['Estado'] = $('#Estado').val();
                theEntity['FechaAdquisicion'] = "2018-01-01";

                loading();
                $.postJSON('/Mantenimiento/Wtf_Herramientas/SaveData', theEntity, function (resJson) {
                    loading(false);

                    if (resJson.Success) {
                        parent.$('#dataTable').bootstrapTable('refresh');
                        parent.dialogSuccess();
                        dialogClose();
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            }
        })
    }

    //提交表单
    function submitForm() {
        $('#submit').trigger('click');
    }
</script>