@using Coldairarrow.Entity.Ganaderia;
@using Coldairarrow.Util;

@{
    Layout = "~/Views/Shared/_Layout_Form.cshtml";

    var obj = (Gnd_Inventario)Model;
    var objStr = Html.Raw(obj.ToJson());
}
<div style="padding:15px;padding-right:45px;">
    <form id="form" class="form-horizontal" role="form">
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Propietario</label>
            <div class="col-sm-5">
                <select id="ownerList" class="selectpicker form-control" name="ownerList" data-style="btn-default btn-sm" required title="Select one"></select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Finca</label>
            <div class="col-sm-5">
                <select id="farmList" class="selectpicker form-control" name="farmList" data-style="btn-default btn-sm" required title="Select one"></select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Animal</label>
            <div class="col-sm-5">
                <select id="typeList" class="selectpicker form-control" name="typeList" data-style="btn-default btn-sm" required title="Select one"></select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Descripcion</label>
            <div class="col-sm-5">
                <input name="Descripcion" value="@obj.Descripcion" type="text" class="form-control" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm" id="container" style="position:relative">
            <label class="col-sm-2 control-label">Fecha Nacimiento</label>
            <div class="col-sm-5" style="position:relative">
                <input id="FechaNacimiento" name="FechaNacimiento" type="text" value="@(obj.FechaNacimiento != DateTime.MinValue ? obj.FechaNacimiento.ToString("yyyy-MM-dd"): ("2020-01-01"))" data-date-format="yyyy-mm-dd" class="form-control" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Genero</label>
            <div class="col-sm-5">
                <select id="genreList" name="genreList" class="selectpicker form-control" data-style="btn-default btn-sm" disabled>
                    <option value="1">Macho</option>
                    <option value="2">Hembra</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Imagen</label>
            <div class="col-sm-3">
                <input name="ImagenFile" id="ImagenFile" type="file" class="form-control" accept="image/*">
                <div class="help-block with-errors"></div>
            </div>
            <div class="col-sm-2">
                <img id="imgLoaded" alt="Image" style="width: 100%; height:100%" />
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Crias?</label>
            <div class="col-sm-5">
                <select id="hasChildrenList" name="hasChildrenList" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Consecutivo</label>
            <div class="col-sm-5">
                <input id="Codigo" name="Codigo" value="@obj.Codigo" type="text" class="form-control" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Consecutivo Madre</label>
            <div class="col-sm-5">
                <select id="parentList" class="selectpicker form-control" name="parentList" data-style="btn-default btn-sm" title="Select one"></select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-5">
                <select id="statusList" name="statusList" class="selectpicker form-control" data-style="btn-default btn-sm" required>
                    <option value="1">Activo</option>
                    <option value="2">Vendido</option>
                    <option value="3">Muerto</option>
                    <option value="4">Robo Pérdida</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Es comprado?</label>
            <div class="col-sm-5">
                <select id="buyedList" name="buyedList" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="0" selected>No</option>
                    <option value="1">Si</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-2 control-label">Está Marcado?</label>
            <div class="col-sm-5">
                <select id="labeledList" name="labeledList" class="selectpicker form-control" data-style="btn-default btn-sm">
                    <option value="0" selected>No</option>
                    <option value="1">Si</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm" id="container" style="position:relative">
            <label class="col-sm-2 control-label">Fecha Compra</label>
            <div class="col-sm-5" style="position:relative">
                <input id="FechaCompra" name="FechaCompra" type="text" value="@(obj.FechaCompra != null ? obj.FechaCompra?.ToString("yyyy-MM-dd"): null)" data-date-format="yyyy-mm-dd" class="form-control" autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm" id="container" style="position:relative">
            <label class="col-sm-2 control-label">Fecha Venta</label>
            <div class="col-sm-5" style="position:relative">
                <input id="FechaVenta" name="FechaVenta" type="text" value="@(obj.FechaVenta != null ? obj.FechaVenta?.ToString("yyyy-MM-dd"): null)" data-date-format="yyyy-mm-dd" class="form-control" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm" id="container" style="position:relative">
            <label class="col-sm-2 control-label">Fecha Muerte</label>
            <div class="col-sm-5" style="position:relative">
                <input id="FechaDeceso" name="FechaDeceso" type="text" value="@(obj.FechaDeceso != null ? obj.FechaDeceso?.ToString("yyyy-MM-dd"): null)" data-date-format="yyyy-mm-dd" class="form-control" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group form-group-sm" id="container" style="position:relative">
            <label class="col-sm-2 control-label">Fecha Robo Perdida</label>
            <div class="col-sm-5" style="position:relative">
                <input id="FechaPerdida" name="FechaPerdida" type="text" value="@(obj.FechaPerdida != null ? obj.FechaPerdida?.ToString("yyyy-MM-dd"): null)" data-date-format="yyyy-mm-dd" class="form-control" required autocomplete="off">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="hidden">提交</button>
        </div>
    </form>
</div>
<script>
    var theEntity = @objStr;
    var ownerId = @obj.IdPropietario;
    var farmId = @obj.IdFinca;
    var typeId = @obj.IdTipoInventario;
    var parentId = Number('@obj.IdPadre');
    var statusId = @obj.IdEstado;

    $(function () {
        initEvent();
    });

    function initOwnerList() {
        $('#ownerList').selectpicker({
            url: '/Ganaderia/Gnd_Propietario/GetDataList_NoPagin',
            value: ownerId,
            valueField: 'Id',
            textField: 'Descripcion',
            pleaseSelect: false
        });
        $('#ownerList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (ownerId > 0) {
                $(this).selectpicker('val', ownerId);
            }
        });
    }

    function initFarmList() {
        $('#farmList').selectpicker({
            url: '/Ganaderia/Gnd_Finca/GetDataList_NoPagin',
            value: farmId,
            valueField: 'Id',
            textField: 'Descripcion',
            pleaseSelect: false
        });
        $('#farmList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (farmId > 0) {
                $(this).selectpicker('val', farmId);
            }
        });
    }

    function initTypeList() {
        $('#typeList').selectpicker({
            url: '/Ganaderia/Gnd_TipoInventario/GetDataList_NoPagin',
            value: typeId,
            valueField: 'Id',
            textField: 'Descripcion',
            pleaseSelect: false
        });
        $('#typeList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (typeId > 0) {
                $(this).selectpicker('val', typeId);
            }
        }).on('changed.bs.select', function (e) {
            // calls on data loaded
            let idSexo = $(this).data("option").data[e.currentTarget.selectedIndex - 1].IdSexo;
            changeGenre(idSexo);
        });
    }

    function initImageField() {
        $('#ImagenFile').on('change', function () {
            $('#ImagenFile').getFileBase64(function (base64, fileName) {
                $('#imgLoaded').attr('src', "data:image/png;base64, " + base64);
                theEntity['ImagenNombre'] = $("#ImagenFile")[0].files[0].name;
                theEntity['ImagenBase64'] = base64;
            });
        });
    }

    function changeGenre(value) {
        $('#genreList').selectpicker({
            value: value
        });
    }

    function initStatusList(value) {
        $('#statusList').selectpicker({
            value: value
        });
    }

    function initBuyedList(value) {
        $('#buyedList').selectpicker({
            value: value ? 1 : 0
        });
    }

    function initLabeledList(value) {
        $('#labeledList').selectpicker({
            value: value ? 1 : 0
        });
    }

    function createDateControl(name) {
        $('#' + name).datetimepicker({
            language: 'es',
            minView: 2//日期选择
        });
    }

    function initParentList() {
        $('#parentList').selectpicker({
            url: '/Ganaderia/Gnd_vInventario/GetParentsDataList_NoPagin',
            value: parentId,
            valueField: 'Id',
            textField: 'DescripcionCodigo',
            pleaseSelect: false,
            sortName: 'Codigo',
            sortOrder: 'desc'
        });
        $('#parentList').on('refreshed.bs.select', function (e) {
            // calls on data loaded
            if (parentId > 0) {
                $(this).selectpicker('val', parentId);
            }
        });
    }

    function initChildrenList() {
        $('#hasChildrenList').selectpicker({
            value: theEntity.EsPadre ? 1 : 0
        });
    }

    function checkImageUrl() {
        if (theEntity.ImagenUrl) {
            $('#imgLoaded').attr('src', theEntity.ImagenUrl);
        }
    }

    function setStatusEvent(value) {
        switch (Number(value)) {
            case 1:
                hideFormFields(['FechaDeceso', 'FechaVenta', 'FechaPerdida']);
                break;
            case 2:
                hideFormFields(['FechaDeceso', 'FechaPerdida']);
                showFormFields(['FechaVenta']);
                break;
            case 3:
                hideFormFields(['FechaVenta', 'FechaPerdida']);
                showFormFields(['FechaDeceso']);
                break;
            case 4:
                hideFormFields(['FechaDeceso', 'FechaVenta']);
                showFormFields(['FechaPerdida']);
                break;
            default:
                break;
        }
    }

    function setBuyedStatusEvent(value) {
        if (value) {
            setFieldRequired('FechaCompra');
        } else {
            setFieldNotRequired('FechaCompra');
        }
    }

    function statusEvent() {
        $('#statusList').on('changed.bs.select', function (e) {
            // calls on data loaded
            let idEstado = $(this).val();
            setStatusEvent(idEstado);
        });
    }

    function statusBuyedEvent() {
        $('#buyedList').on('changed.bs.select', function (e) {
            // calls on data loaded
            let esCompra = Number($(this).val()) == 1;
            setBuyedStatusEvent(esCompra);
        });
    }

    //事件绑定
    function initEvent() {

        initOwnerList();
        initFarmList();
        initTypeList();

        createDateControl("FechaNacimiento");
        createDateControl("FechaCompra");
        createDateControl("FechaDeceso");
        createDateControl("FechaVenta");
        createDateControl("FechaPerdida");

        hideFormFields(['FechaDeceso', 'FechaVenta', 'FechaPerdida']);
        changeGenre(theEntity.Sexo);
        
        initImageField();
        initChildrenList();
        checkImageUrl();
        initParentList();
        getNexCode();
        initStatusList(theEntity.IdEstado);
        initBuyedList(theEntity.EsCompra);
        initLabeledList(theEntity.Marcado);
        setStatusEvent(theEntity.IdEstado);
        setBuyedStatusEvent(theEntity.EsCompra);
        statusEvent();
        statusBuyedEvent();

        //表单校验
        $('#form').validator().on('submit', function (e) {
            //校验成功
            if (!e.isDefaultPrevented()) {
                e.preventDefault();

                var values = $('#form').getValues();
                $.extend(theEntity, values);
                theEntity['IdPropietario'] = $('#ownerList').val();
                theEntity['IdFinca'] = $('#farmList').val();
                theEntity['IdTipoInventario'] = $('#typeList').val();
                theEntity['Sexo'] = $('#genreList').val();
                theEntity['EsPadre'] = Number($('#hasChildrenList').val()) == 1;
                theEntity['IdEstado'] = $('#statusList').val();
                if ($("#parentList").val()) theEntity['IdPadre'] = $("#parentList").val();
                theEntity['EsCompra'] = Number($('#buyedList').val()) == 1;
                theEntity['Marcado'] = Number($('#labeledList').val()) == 1;
                loading();
                $.postJSON('/Ganaderia/Gnd_Inventario/SaveData', theEntity, function (resJson) {
                    loading(false);

                    if (resJson.Success) {
                        parent.$('#dataTable').bootstrapTable('refresh');
                        parent.dialogSuccess();
                        dialogClose();
                    }
                    else {
                        dialogError(resJson.Msg);
                    }
                });
            }
        })
    }

    function getNexCode() {
        if (theEntity.Id > 0) {
            return;
        }
        loading(true);
        $.postJSON('/Ganaderia/Gnd_Inventario/GetNextCode', {}, function (resJson) {
            loading(false);
            if (Number(resJson) > 0) {
                $("#Codigo").val(Number(resJson));
            }
        });
    }

    function hideFormFields(arrayFields) {
        arrayFields.forEach(item => {
            setFieldNotRequired(item);
            hideControl(item);
        });
    }

    function showFormFields(arrayFields) {
        arrayFields.forEach(item => {
            setFieldRequired(item);
            showControl(item);
        });
    }

    function setFieldRequired(name) {
        $("#" + name).prop('required', true);
    }

    function setFieldNotRequired(name) {
        $("#" + name).removeAttr('required');
    }

    function showControl(control) {
        $("#" + control).parent().parent().show();
    }

    function hideControl(control) {
        $("#" + control).parent().parent().hide();
    }

    //提交表单
    function submitForm() {
        $('#submit').trigger('click');
    }
</script>